* {
    margin: 0;
    padding:0;
}

#container {
    background:white;
    width: 560px;
    height: 400px;
    margin: auto;
}

header {
    background: white;
    height: 15%;
    text-align:left;
    margin-top: 30px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 35px;
}

li {
    list-style: none;
    font-size: 28px;
    margin: auto;
    font-family: sans-serif;
    margin-left: 15px;
}
.firstoption {
    background: rgb(251, 196, 1);
    padding: 15px;
}

.options {
    background-color:rgb(187, 187, 178);
    padding: 15px;
}
